<div class="col-sm-4 col-sm-offset-4">
  <h1>３行ダイアリー</h1>
  <alert type="info">メールを送信しました。メールのURLクリック後、再度ログインしてください。</alert>
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>ログイン</h4>
      <form class="form-horizontal" name="loginForm" novalidate>
        <div class="form-group">
          <div class="col-sm-12">
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              placeholder="メールアドレス"
              v-model="email"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="パスワード"
              v-model="password"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <button class="btn btn-default" @click.stop.prevent="signup">ユーザー登録</button>
          </div>
        </div>
      </form>
    </div>
    <div class="panel-footer">
      または <a @click.stop.prevent="loginWithProvider('facebook')" class="auth-provider-icon"><i class="fa fa-facebook-official"></i></a>
      <a @click.stop.prevent="loginWithProvider('twitter')" class="auth-provider-icon"><i class="fa fa-twitter-square"></i></a>
      <a @click.stop.prevent="loginWithProvider('github')" class="auth-provider-icon"><i class="fa fa-github"></i></a>
      <a @click.stop.prevent="loginWithProvider('google')" class="auth-provider-icon"><i class="fa fa-google"></i></a>
    </div>
  </div>
  <a class="btn btn-default">アカウントがない場合はここから新規登録</a>
</div>
